/* font */
body{
    font-family: 'Poppins', sans-serif;
}
.banner{
    background-color: #2D25A0;
    /* position: absolute; */
    width: 1440px;
    height: 677px;
    left: 0px;
    top: 0px;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width h1{
    font-size: 79px;
    color: whitesmoke;
    text-align: left;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    text-align: center;
    
}
.half-width image{
    width: 80%;
}
.half-width img{
    width: 556.01px;
    height: 438px;
    left: 1299.01px;
    top: 153px;
    bottom: 86px;
    margin-top: 140px;
}
.link-button{
    text-decoration: none;
    background-color: #E02C6D;
    color: rgb(240, 246, 247);
    font-weight: 900;
    padding: 15px 40px;
    border-radius: px;
    display: inline-block;
    position: absolute;
    left: 6%;
}

/* start player info style */

.all-player{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
    position: absolute;
    width: 330px;
    height: 474px;
    left: 180px;
    top: 747px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player .player-banner img{
    position: static;
    width: 300px;
    height: 256px;
    
}
.player{
     border: 20px solid whitesmoke;
}
